<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li><strong>Email: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
            <li><strong>Help us improve this site: </strong></a></li>
              {{ range first 1 .Site.Data.social }}
                  <a href="{{ .link }}" target="blank"><img width="20" height="20" src="{{ .image | relURL }}" title="{{ .name }}" alt="{{ .name }}" /></a></li>
              {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
